#main {
    background-image: url('switch_imgs/holies.jpg');
    background-position: center;
    background-size: cover;
    padding-top: 1%;
    padding-bottom: 30%;

}

#main h1 {
    font-weight: lighter;
    font-size: 70px;
}

#first {
    font-weight: lighter;
    font-size: 30px;
    line-height: .5;
    padding-top: 3%;
}

#second {
    font-weight: lighter;
    font-size: 30px;
    line-height: .5;
}

#cards {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 5%;
    padding-bottom: 2%;
}  

.card {
    margin-left: 30px;
}